/* *********************************************************************************  */
/* Media screen: 1000px */
@media screen and (max-width: 1200px) {
  /* (components) Initial form */
  .initial-form-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 45%;
  }

  /* (component) Home */
  .home-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.2fr 2fr 0.2fr;
    grid-template-areas:
      "header"
      "menu-filter"
      "element"
      "footer";
  }

  #tag-collection-container {
    display: none;
  }

  #reporter-collection-container {
    display: none;
  }

  #editor-collection-container {
    display: none;
  }
}
